<h3>
    {{ title }}
</h3>
<section 
    class="customer__details"
    *ngIf="customerList.length > 0;
    else notCustomerDetailsBlock"
    >
    <ul>
        <li *ngFor="let customer of customerList">
            <app-item
                *ngIf="!editIds.includes(customer.id)"
                [customer]="customer"
                (onToggleCustomer)="toggleCustomer(customer.id)"
                (onRemoveCustomer)="removeCustomer(customer.id)"
                (onEditCustomer)="editCustomerMode(customer.id)"
                >
            </app-item>
            <app-edit
                *ngIf="editIds.includes(customer.id)"
                [customer]="customer"
                (onEditCustomer)="editCustomer($event, customer.id)"                
                >
            </app-edit>
            <hr>
        </li>
    </ul>
</section>

<ng-template #notCustomerDetailsBlock>
    <h3 class="text-center">
        Your customer base is empty!!!
    </h3>
</ng-template>